
@font-face{
 font-family: 'Akrobat';
 src: url(../fonts/Akrobat-Regular.woff2) format("woff2");
 src: url(../fonts/Akrobat-Regular.woff) format("woff");
 font-weight: normal;
 font-style: normal;
}

@font-face{
 font-family: 'Code';
 src: url(../fonts/CodeDemo-Bold.woff2) format("woff2");
 src: url(../fonts/CodeDemo-Bold.woff) format("woff");
 font-weight: normal;
 font-style: normal;
}

@font-face{
 font-family: 'Carlito';
 src: url(../fonts/CodeDemo-regular-webfont.woff2) format("woff2");
 src: url(../fonts/carlito-regular-webfont.woff) format("woff");
 font-weight: normal;
 font-style: normal;
}